services:
  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    container_name: autoescola_api
    ports:
      - "3001:3000"
    env_file:
      - .env.docker
    environment:
      - PORT=3000
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:15
    container_name: autoescola_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: autoescola
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
